###############################################################################
# PYTHON / DJANGO
###############################################################################
# entornos virtuales
venv/
# archivos de bytecode y cachés
__pycache__/
*.py[cod]
# SQLite en desarrollo
*.sqlite3
# subidas o estáticos generados (si los sirves localmente)
media/
staticfiles/

###############################################################################
# NODE / REACT (frontend)
###############################################################################
frontend/node_modules/
frontend/dist/
# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

###############################################################################
# EDITOR / IDE
###############################################################################
.vscode/
.idea/
*.swp
*~

###############################################################################
# SISTEMA OPERATIVO
###############################################################################
# macOS
.DS_Store
# Windows
Thumbs.db
desktop.ini
