# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Virtual environment
venv/

# Node
node_modules/
dist/
build/

# Frontend tools
*.log
.env
.env.*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/